{% if auth-error is not empty %}
    <div class="alert alert-danger" role="alert">
        {{ auth-error }}
    </div>
{% endif %}
{% if auth-success %}
    <div class="alert alert-success" role="alert">
        Успешная аутентификация!
    </div>
{% endif %}
<form method="post" action="/user/login">
    <div class="mb-3">
        <label for="login" class="form-label">Логин</label>
        <input type="text" class="form-control" id="login" name="login" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>